body {
  margin: 0;
  padding: 0; /* Ensure there's no padding as well */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wave-group {
    position: relative;
  }
  
  .wave-group .editinput {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    color: aliceblue;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  .wave-group .editinput:focus {
    outline: none;
  }
  
  .wave-group .editlabel {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .editinput:focus ~ .editlabel .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wave-group .editbar {
    position: relative;
    display: block;
    width: 200px;
  }
  
  .wave-group .editbar:before,.wave-group .editbar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .editbar:before {
    left: 50%;
  }
  
  .wave-group .editbar:after {
    right: 50%;
  }
  
  .wave-group .editinput:focus ~ .editbar:before,
  .wave-group .editinput:focus ~ .editbar:after {
    width: 50%;
  }
  
  