.quest_card {
  /* width: 15cm; */
  height: 7cm;
  background: linear-gradient(270deg, #09378c, #c48d00, #866000);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  transition: 0.4s ease-in-out;
  border-radius: 7px;
  cursor: pointer;
}

.que_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.quest_card_back {
  height: 19em;
  background-color: rgba(30, 31, 38, 0.1);
  border-radius: 7px;
  margin-top: -17.7em;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.main:hover .quest_card_back {
  margin-top: -16.7em;
  margin-left: -0.3em;
  background-color: rgba(44, 45, 51, 0.4);
  scale: 1.1;
  height: 21em;
  cursor: pointer;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.5em;
  font-family: Montserrat;
  color: white;
}

.text_m {
  font-weight: bold;
  font-size: 1.3em;
}

.username_text{
  margin-top: 0.5em;
  font-size: 1em;
  margin-left: 2em;
  opacity: 0;
}

.timestamp {
  display: flex;
  margin-right: 1.6em;
  justify-content: center;
  opacity: 0;
}

.btns {
  display: flex;
  justify-content: space-between;
  /* transition: 0.2s ease-in-out; */
}

.main:hover .likes {
  margin-top: 0.8em;
  margin-left: 2em;
  background-color: red;
  opacity: 1;
}

.main:hover .username_text {
  margin-top: 0.5em;
  margin-left: 2em;
  color: azure;
  opacity: 1;
}

.main:hover .timestamp {
  margin-right: 1.6em;
  color: azure;
  opacity: 1;
}

/* The Main Switch */

.card_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bb {
  padding: 0.8em;
  width: 14em;
  border-radius: 10px;
  font-family: Montserrat;
  margin-top: 0.4em;
  margin-right: 2em;
  font-size: 0.8em;
  opacity: 0;
  align-self: center;
  outline: none;
  font-weight: bold;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  transition: 0.2s ease-in-out;
}

.main:hover .bb {
  cursor: pointer;
  color: black;
  margin-top: 0.4em;
  margin-right: 2em;
  width: 14em;
  opacity: 1;
  font-size: 0.7em;
  background: rgba(255, 255, 255, 0.849);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bb:active {
  scale: 1.1;
  opacity: 1;
  color: transparent;
  background: linear-gradient(90deg, #0039a6, #c48d00, #866000);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;
}

.bb:active::before {
  color: white;
  opacity: 1;
}