.textGptBody {
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden; /* Ensure no overflow on the TextGpt page */
}

.img1 {
    height: 70%;
    right: -5%;
    bottom: -30%;
    z-index: -1;
    opacity: 0.5;
}

.img2 {
    height: 40%;
    left: 11%;
    top: 10%;
    z-index: -1;
    opacity: 0.5;
}

.chatComponent, .inputBar {
    flex-grow: 1;
    overflow: hidden;
}

.chatComponent {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* .inputBar {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */
.user_bot{
    overflow-y: auto;
    overflow-x: hidden;
}

.user_bot::-webkit-scrollbar {
    display: none;
  }

.bot{
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.usr{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* .text_inn {
    padding-bottom: 5%;
} */


/* sidebar.css */
.sidebar-container {
    transition: transform 0.3s ease-in-out;
}

.sidebar-container.open {
    transform: translateX(0);
}

@media (max-width: 550px) {
    .sidebar-container {
        position: fixed;
        left: 0;
        /* width: 50%; */
        height: 100%;
        background-color: black;
        z-index: 10;
        transform: translateX(-100%);
    }

    .sidebar-container.open {
        transform: translateX(0);
    }

    .communication.shifted {
        display: none;
    }
}

@media (min-width: 550px) and (max-width: 768px) {
    .sidebar-container {
        position: fixed;
        left: 0;
        /* width: 30%; */
        height: 100%;
        background-color: black;
        z-index: 10;
        transform: translateX(-100%);
    }

    .chatComponent {
        top: 0;
    }

    .sidebar-container.open {
        transform: translateX(0);
    }

    .communication.shifted {
        display: none;
    }
}
