body{
    overflow-y: hidden;
    padding: 0;
}
.img1{
    height:7cm;
    left:185vh;
    top:70vh;
    z-index:-1;
    opacity: 0.5;
}
.img2{
    height:7cm;
    left:24vh;
    top:11vh;
    z-index:-1;
    opacity: 0.5;
}
.bottom{
    z-index: 1;
}